/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  }

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

    /* Custom pairs */
    --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
  }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  overflow-y: scroll;
}
body {
  margin: 0;
  min-height: 100%;
  border: 8px solid #0f448a;
  color: #3b393c;
  background-color: #fafafa;
  padding: 2rem 10%;
  font-size: var(--step-0);
  font-family: sans-serif;
  line-height: 1.6;
}

a {
  color: #1150a2;
}
strong {
  color: #12335e;
  text-shadow: 0 1px 0 white;
}
em {
  background-color: #fff;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
img {
  max-width: 100%;
  height: auto;
}
.site-banner {
  border-bottom: 4px solid #1150a2;
  margin-bottom: 16px;
}
.landing .site-banner {
  margin-bottom: 0;
}
.site-footer {
  border-top: 4px solid #1150a2;
  margin-top: 16px;
  padding-top: 16px;
}
.page-footer {
  font-size: 90%;
  border-top: 4px solid #1150a2;
  margin-top: 16px;
  padding-top: 16px;
}
.page-footer:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 20px;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}


/*
// Headings
*/

.reset-heading {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-size: inherit;
}
h2 {
    margin-bottom: 24px;
}
h3 {
    margin-top: 28px;
    margin-bottom: 24px;
}
.heading {
    font-weight: bold;
  }
.heading__de-emphasise {
    font-weight: normal;
    font-style: italic;
}
.heading__de-emphasise:before {
    content: "/";
    margin-right: 8px;
}
.heading--beta {
    font-size: 1.5rem;
}
.heading--alpha {
    font-size: var(--step-4);
}

.writing h1, .making h1, .watching h1, .attending h1  {
    font-size: var(--step-5);
    line-height: 1.3;
}
.writing h2, .making h2, .watching h2, .attending h2 {
    font-size: var(--step-4);
}
.writing h3, .making h3 {
    font-size: var(--step-3);
}
.writing h4, .making h4 {
    font-size: var(--step-2);
}
.writing h5, .making h5 {
    font-size: var(--step-1);
}
.writing h6, .making h6 {
    font-size: var(--step-0);
}


.post .p-description {
  border-top: 1px solid #d9d9d9;
  padding-top: 30px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px;
  font-size: 1.15rem;
}
.post h2 {
  font-size: 1.45rem;
}
.post h3 {
  font-size: 1.25rem;
}
.reset-vertical-space {
    margin-top: 0;
    margin-bottom: 0;
}
.reset-list {
  list-style: none;
  list-style-image: none;
  padding-left: 0;
}
.list--standard {
  padding-left: 20px;
}
.list--standard > :last-child {
  margin-bottom: 0;
}
.list--standard > li {
  margin-bottom: 4px;
}
.list--inline {
  display: block;
}
.list--inline > li {
  display: inline;
}
.list--csv {
  display: inline-block;
}
.list--csv > li:after {
  content: ",";
}
.list--csv > li:last-child:after {
  display: none;
}
.list--breadcrumb > li:after {
  content: " /";
}
.list--breadcrumb > li:last-child:after {
  display: none;
}
.list--breadcrumb, .list--breadcrumb a {
  color: #989898;
}
.list--breadcrumb a:hover {
  color: #0f448a;
}
.list--divided > li {
  border-top: 1px solid #d9d9d9;
}
.reset-figure {
  margin: 0;
  display: inline-block;
}
.reset-line-height {
  line-height: 0;
}
.card--profile {
  border: 4px solid white;
  text-align: center;
  position: relative;
}
.card--profile .card__text {
  color: #fafafa;
}
.card--profile .card__text {
  background-color: #135bb9;
}
.card__text a {
    color: #fff;
}
.card--profile .card__text__description {
  background-color: #1150a2;
}
.card--profile .card__text__organisation {
    background-color: #0a3368;
  }
.card__text {
  font-weight: 100;
}
.card__text__heading,
.card__text__description,
.card__text__organisation {
    font-weight: inherit;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5rem;
}

.card--linked {
  text-decoration: none;
  display: inline-block;
}
.card--article {
  border: 4px solid #1150a2;
  background-color: white;
}
.card--article .card__text__heading {
  border-bottom: 1px solid #1150a2;
}
.card__link-target {
  text-decoration: underline;
}
@media (max-width: 531px) {
  .card--profile {
    display: none;
  }
}
@media (min-width: 532px) {
  .card--profile {
    float: right;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 687px) {
  .card--profile {
    width: 200px;
    padding-bottom: 268px;
    overflow: hidden;
  }
  .card__image {
    position: absolute;
    left: 0;
  }
  .landing .card__text {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 433px) {
  .vcard .heading--alpha {
    text-align: center;
  }
}
@media (max-width: 523px) {
  .vcard .heading--alpha {
    font-size: 1rem;
  }
}
@media (min-width: 524px) {
  .vcard .heading--alpha {
    font-size: 1.25rem;
  }
}
@media (min-width: 688px) {
  .vcard .heading--alpha {
    font-size: 1.5rem;
  }
}
@media (min-width: 826px) {
  .vcard .heading--alpha {
    font-size: 2rem;
  }
}
.wrap {
  max-width: 55rem;
  margin-right: auto;
  margin-left: auto;
}
blockquote {
  border: 1px solid #0e448a;
  background-color: #f2f2f2;
  padding: 0 1rem;
  position: relative;
  margin-bottom: 2rem;
}
blockquote > :first-child:before {
  content: "";
  margin-left: 2rem;
}
blockquote > :last-child:after {
  content: "";
  margin-right: 2rem;
}
blockquote:before {
  content: "“";
  color: #0e448a;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 1rem;
  line-height: inherit;
}
blockquote:after {
  content: "”";
  color: #0e448a;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  line-height: 0.5;
}
a {
/*  word-break: break-all;*/
  display: inline;
}
.heading__anchor {
  position: relative;
  border-top: 1px solid #e0e0e0;
  padding-top: 1.5rem;
  margin-top: 1.75rem;
  display: block;
}
.e-content h2:first-child .heading__anchor {
  padding-top: 0;
  border-top: none;
}
.e-content h2:first-child .heading__anchor:before {
  top: 0;
}
.heading__anchor:before {
  content: '#';
  position: absolute;
  top: 1.5rem;
  left: -1em;
}
[role="navigation"] .list--standard {
  padding-left: 0;
}
[role="navigation"] > a {
  text-decoration: none;
  padding: 1px 5px 4px 5px;
}
[role="navigation"] .list--standard > li {
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}
[role="navigation"] .list--standard .list {
  font-weight: normal;
}
[role="navigation"] .list__item > a {
  padding: 3px 5px 2px 5px;
}
[data-state="active"] {
  background-color: #1150a2;
  color: #fff;
  position: relative;
  text-decoration: none;
}
[data-state="active"] span {
  position: relative;
  z-index: 1;
}
[role="contentinfo"] {
  margin-top: 16px;
}
.utility-font-size-80 {
  font-size: 80%;
}
.utility-font-size-120 {
  font-size: 120%;
}
.utility-font-size-150 {
  font-size: 150%;
}
.utility-font-size-200 {
  font-size: 4rem;
}
.utility-font-weight-normal {
  font-weight: normal;
}
.utility-push-down-6 {
  margin-bottom: 24px;
}
.learning {
  position: relative;
  margin-left: -2%;
  padding-right: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.learning__content {
  padding: 8px;
  border: 1px solid #0e448a;
  background-color: #f2f2f2;
  width: 75%;
}
.learning__content > :first-child {
  margin-top: 0;
}
.learning__content > :last-child {
  margin-bottom: 0;
}
.page-buster {
  width: 130%;
  margin-left: -15%;
  font-size: 0;
  position: relative;
}
.page-buster--image-thirds img, .page-buster--image-thirds video {
  width: 33.333333333%;
}
.page-buster--image-quarters img, .page-buster--image-quarters video {
  width: 25%;
}
.post-contents {
  float: right;
  padding: 12px;
  border: 1px solid #989898;
  background-color: #f2f2f2;
  color: #989898;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 33.333333333%;
}
.post-contents a, .post-contents strong {
  color: inherit;
}
.post-contents a:hover {
  color: #0e448a;
}
.post-contents > :last-child {
  margin-bottom: 0;
}
.challange {
  border-left: 4px solid #0e448a;
  padding-left: 12px;
  margin-left: -12px;
  color: black;
  font-size: 110%;
}
.conclusion {
  background-color: #fff;
  width: 110%;
  margin-left: -5%;
  padding: 5%;
  border: 1px solid #989898;
}
.conclusion > :first-child {
  margin-top: 0;
}
.conclusion > :last-child {
  margin-bottom: 0;
}
.image-pointers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: #1150a2;
  padding: 4px 4px 2px 4px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #0e4286;
}
.image-pointers:before {
  content: "";
  display: block;
  height: 8px;
  width: 2px;
  background-color: #0e4286;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  z-index: 2;
}
.image-pointers--bottom:before {
  bottom: -8px;
}
.image-pointers--top:before {
  top: -8px;
}
.meta {
  margin-bottom: 16px;
}
.posse {
  width: 104%;
  margin-left: -2%;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #989898;
}
.logo {
    /*
    text-transform: uppercase;
    display: inline-block;
    width: 75%;
    font-family: monospace;
    */
    font-size: var(--step-4);

}
.logo span {

}

.tags {
}

.tags li {
  position: relative;
  width: 25%;
  left: 25%;
  left: 0;
  padding-left: .25rem;
  text-wrap: nowrap;
}
.tags li small {
}
.tags li a {
  width: 100%;
}
.tags__size {

}
.tags__visualisation {
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  background-color: #989898;
}

.tiles__item {
  border: 1px #ccc solid;
  width: 100%;
  padding: 1rem 1rem 2.25rem;

  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: #fff;
  position: relative;
}
.tiles__item .heading {

  margin-top: 0;
  line-height: 1.89rem;
}

.tiles__item img {

  margin-bottom: 1rem;
}
.tiles__item.featured {
  border-width: 5px;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tiles__item .band {
  position: absolute;
  bottom: 8px;
  right: -8px;
  background-color: #3b393c;
  padding: 2px 7px;
  color: white;
}

.tiles__item a {
  font-weight: bold;
}

.tiles__item h1 {
  font-weight: bold;
}
.off-screen,
.skip-link {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
.skip-link:focus {
  height: auto;
  width: auto;
  clip: auto;
}

.embed-wrapper {
   position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-wrapper iframe,
.embed-wrapper object,
.embed-wrapper embed {
   position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

/* .off-screen {
  position: absolute;
  left: -10000px;
} */

.grid {
  display: grid;
}
.grid--2 {
  grid-template-columns: 1fr 330px;
}
.grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid--6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid--15 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

.bingo-card {
    border: 2px solid #c2c2c2;
}
.rikishi {
  padding: .75rem;
  border: 2px solid #c2c2c2;
  background-color: #fff;
}
.rikishi__name {
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1;
}
.rikishi__score {
    font-size: 1rem;
    line-height: 1;
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: center;
}
.results--daily {
    grid-template-rows: minmax(.5rem, .5rem);
    margin-bottom: .75rem;
}
.results--sorted {
  grid-template-rows: minmax(1.1rem, 1rem) minmax(1.1rem, 1rem) minmax(1.1rem, 1rem);
}
.results--sorted .result {
    border: 1px solid #ddd;
}
.result {
  background-color: #ececec;
}
.result--win {
  background-color: #459132;
}
.result--lose {
  background-color: #913232;
}
.result--forfeit {
  background-color: #1e1e1e;
}
.rikishi--make-koshi {
  background-color: #e0c4c4;
  border-color: #913232;
}
.rikishi--kachi-koshi {
    background-color: #cbe0c4;
    border-color: #459132;
}
.rikishi--forfeit {
    background-color: #c6c6c6;
    border-color: #393939;
}
.rikishi img {
  border: 2px solid #ddd;
}
.rikishi__photo {
    line-height: 0;
    text-align: center;
}
.rikishi--saiko {
 border-color: #df950a;
 background-color: #dfc085;
 font-weight: bold;
}
.rikishi--saiko .rikishi__name,
.rikishi--saiko .rikishi__score {
    font-weight: bold;
}
.rikishi--saiko .rikishi__name:after {
    content: "🏆";
}
@media (max-width: 784px) {
    .rikishi__photo,
    .results--sorted,
    .results--daily {
        display: none;
    }
    .rikishi__name,
    .rikishi__score {
        writing-mode: sideways-rl;
        margin: 0;
    }
}

@media (max-height: 760px) {
    .rikishi__photo,
    .results--sorted {
        display: none;
    }
    .rikishi {
        padding: 0.25rem;
    }
    .results--daily,
    .rikishi__name {
        margin-bottom: 0.25rem;
    }
}
@media (max-height: 1100px) {
    .results--sorted {
        display: none;
    }
    .results--daily,
    .rikishi__name {
        margin-bottom: 0.25rem;
    }
}
/* Alerts */
.alert {
  padding: .5rem;
}
.alert--warning {
  border-left: solid .75rem #872020;
}
.alert--passive {
  border-left: solid .75rem #b8b8b8;
}
.alert--warning .alert__type {
  color: #872020;
}
.alert--passive .alert__type {
  color: #3d3d3d;
}

.callout {
    border: 4px solid white;
    background-color: #f9f3f3;
    font-size: smaller;
    padding: 1rem;
}

.pullquote {
    border-left: solid .75rem #1150a2;
    font-size: var(--step-2);
    padding-left: var(--step-2);
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
}

/* MARK: HORRID HACKS */
.text-centered {
    text-align: center;
}
.image-centred {
    margin-right: auto;
    margin-left: auto;
}
.list--inline .off-screen {
    display: inline-block;
}

/* MARK: FOCUSED */
.targets {

}
.target a {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin: .25rem;
    padding: .25rem;
    text-align: center;
    min-height: 4rem;
    display: block;
    text-decoration: none;
}
.target a:hover,
.target a:focus {
    text-decoration: underline;
}

.pullquote {

}