---
title: 'Benjamin Parry is Everything Everywhere All at Once'
summary: 'A feed of everything by Benjamin Parry.'
permalink: 'everything-everywhere-all-at-once/chronologically/feed.json'
---
{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "{{ title }}",
    "description": "{{ summary }}",
    "home_page_url": "{{ site.url }}",
    "feed_url": "{{ site.url }}{{ permalink }}",
    "icon": "{{ site.icon.feed }}",
    "items": [
        {% for item in collections.everything %}{
            "id": "{{ site.url }}{{ item.url }}",
            "title": "{{ item.data.title }}",
            "url": "{{ site.url }}{{ item.url }}",
            "external_url": "{% if item.data.bookmarkOf %}{{ item.data.bookmarkOf }}{% endif %}",
            "image": "{% if item.data.images %}{{ site.url }}{{ item.data.images[0] }}{% endif %}",
            "tags": [{% if item.data.tags %}{% for tag in item.data.tags %}"{{ tag }}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}],
            "summary": "{{ item.data.posse | safe }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
    ]
}
