---
title: Writing
permalink: /writing/
---

<ul>
{% for post in collections.writings | reverse %}
  <li>
    <a href="{{ post.url | url }}">
      {{ post.data.title }}
    </a>
  </li>
{% endfor %}
</ul>
