<h2>{{ featuredWork.title }}</h2>

<ul class="reset-list tiles">
{% for item in collections.featuredWork %}
<li class="tiles__item featured">
<ul class="reset-list list">
<li><h2 class="heading heading--beta">{{ item.data.title }} with <strong>{{ item.data.client }}</strong></h2></li>
<li class="list__item"><img
src="/assets/images/clients/{{ item.data.client |slug }}-logo.png" alt="{{ item.data.client }}" loading="lazy"></li>
{% if item.data.caseStudyURL.length %}
<li><a href="{{ item.data.caseStudyURL }}" target="_blank">{{ item.data.cta }}</a> on the {{ item.data.employer }} website.</li>
{% else %}
<li><em>Case study coming 2024.</em></li>
{% endif %}
<!-- <li><small>{{ item.data.date }} – {{ item.data.duration }}</small></li> -->
<li class="utility-font-size-80 band">Sector:
<ul class="reset-list list list--inline list--csv">
{% for sector in item.data.sector %}
<li>{{ sector }}</li>
{% endfor %}
</ul>
</li>
</ul>
</li>
{% endfor %}
</ul>