<footer class="site-footer" role="contentinfo">
	<ul class="reset-list list list--inline">
		{% for item in navigation.secondary %}
		<li>{{ item.emoji}} <a href="{{ item.url}}">{{ item.text}}</a></li>
		{% endfor %}
	</ul>
	<ul class="reset-list list list--inline">
		{% for item in navigation.tertiary %}
		<li>{{ item.emoji}} <a href="{{ item.url}}">{{ item.text}}</a></li>
		{% endfor %}
	</ul>
	<ul class="reset-list list list--inline">
		{% for item in navigation.quaternary %}
		<li>{{ item.emoji}} <a href="{{ item.url}}">{{ item.text}}</a></li>
		{% endfor %}
	</ul>
	<p>
		<small>
			© 2013 - {{ helpers.currentYear() }} Benjamin Parry – This website was <a href="https://www.11ty.dev/">built using Eleventy</a>, and is <a href="https://github.com/benjaminparry/benjamin.parry.is">hosted on Github</a> and <a href="https://www.netlify.com">Netlify</a>.
		</small>
	</p>
    <p>
        <small>
            <a href="https://xn--sr8hvo.ws/previous">« previous</a>
            <a href="https://xn--sr8hvo.ws">IndieWeb Webring 🕸💍</a>
            <a href="https://xn--sr8hvo.ws/next">next »</a>
        </small>
    </p>
</footer>