<footer class="site-footer" role="contentinfo">
	<ul class="reset-list list list--inline">
		{% for item in footerNav.items %}
		<li>{{ item.emoji}} <a href="{{ item.url}}">{{ item.text}}</a></li>
		{% endfor %}
	</ul>
	<p>
		<small>
			© 2013 - {{ helpers.currentYear() }} Benjamin Parry – This website was built using <a href="https://www.11ty.dev/">Eleventy</a>, and is hosted on <a href="https://github.com/benjaminparry/benjamin.parry.is">Github</a> and <a href="https://www.netlify.com">Netlify</a>.
		</small>
	</p>
</footer>