{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %}
{% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch
them into the mix. #}
{% if metaTitle %}
{% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
{% set metaDesc = posse %}
{% endif %}

{% if images %}
{% set hasImage = images[0] %}
{% elseif category === 'Environment' %}
{% set hasImage = site.socialImageEnvironment %}
{% elseif category === 'People' %}
{% set hasImage = site.socialImagePeople %}
{% elseif category === 'Technology' %}
{% set hasImage = site.socialImageTechnology %}
{% else %}
{% set hasImage = site.socialImageDefault %}
{% endif %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- MARK: RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/writing/feed.xml" />

    <!-- MARK: Styles -->
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">

    <title>{{ pageTitle }}</title>
    <link rel="canonical" href="{{ currentUrl }}" />

    <meta property="og:site_name" content="{{ siteTitle }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ currentUrl }}" />

    <!-- MARK: Social images -->
    {% if hasImage %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:image" content="{{ site.url }}{{ hasImage }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ hasImage }}" />
    <meta property="og:image:alt" content="Page image for {{ site.name }}" />
    <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
    {% endif %}

    {% if metaDesc %}
    <meta name="description" content="{{ metaDesc }}" />
    <meta name="twitter:description" content="{{ metaDesc }}" />
    <meta property="og:description" content="{{ metaDesc }}" />
    {% endif %}

    <!-- MARK: IndieWeb -->
     <!-- Indiekit -->
    <link rel="micropub" href="https://indiekit.benjamin.parry.is/micropub">
    <link rel="authorization_endpoint" href="https://indiekit.benjamin.parry.is/auth">
    <link rel="token_endpoint" href="https://indiekit.benjamin.parry.is/auth/token">
    <!-- Webmention -->
    <link rel="pingback" href="https://webmention.io/benjamin.parry.is/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/benjamin.parry.is/webmention" />
    <!-- IndieAuth -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    <!-- Fediverse -->
    <link rel="me" href="https://web.brid.gy/r/https://benjamin.parry.is/">

    <!-- Favicon / generated @ https://realfavicongenerator.net/ -->
    <!-- MARK: Update this at redesign -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>