{% if postListHeadline %}
<h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
  {{ postListHeadline }}
</h2>
{% endif %}

<ol class="reset-list list--divided">
  {% for item in postListItems %}
  <li>
    <article class="h-entry card">
      <h1 class="p-description">
        {% if item.data.bookmarkOf %}
        <a class="u-url u-syndication" href="{{ item.data.bookmarkOf }}" rel="syndication">{{ item.data.title }}</a>
        {% else %}
        <a class="u-url u-syndication" href="{{ item.url }}" rel="syndication">{{ item.data.title }}</a>
        {% endif %}
      </h1>

      {% if (item.data.bookmarkOf) or (item.data.section == "Replies") or (item.data.section == "Likes") %}
      {{ item.data.content | safe }}
      {% else %}
      <p class="p-name e-content posse">{{ item.data.posse }}</p>
      {% endif %}

      {% if item.data.section == "Thoughts" %}
      {% if item.data.images.length %}
      {% set images = item.data.images %}
      {% include "partials/thought.html" %} <!-- I need to abstract this as partials/images -->
      {% endif %}
      {% endif %}
      <footer class="utility-font-size-80">
        <ul class="meta">
            <li>
                Filed under: <a href="{{ item.data.sectionURL }}">{{ item.data.section }}</a>
            </li>
            {% if item.data.section == "Replies" %}
            <li>
                Replying to: <a href="{{ item.data.inReplyTo }}" rel="in-reply-to" class="u-in-reply-to">{{ item.data.inReplyTo }}</a>
            </li>
            {% endif %}
            {% if item.data.section == "Likes" %}
            <li>
                Liked: <a class="u-like-of u-url" href="{{ item.data.likeOf }}">{{ item.data.likeOf }}</a>
            </li>
            {% endif %}
          {% if item.data.tags.length %}
          <li>Tagged with:
            <ul class="reset-list list list--inline list--csv">
              {% for tag in item.data.tags %}
              <li><a href="/tagging/{{ tag | slug }}" class="tag">{{ tag | title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li>{{ item.data.verb }}: <a class="u-url" rel="bookmark" href="{{ item.url }}"><time class="dt-published" datetime="{{ item.date }}">{{ item.date | dateFilter }}</time></a></li>
        </ul>
      </footer>
    </article>
  </li>
  {% endfor %}
</ol>