<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-banner">
  <nav role="navigation">
    <a class="heading heading--alpha logo" href="/">Benjamin<span style="color:#737373;">.</span>Parry<span style="color:#737373;">.is</span></a>
    <ul class="reset-list list list--standard">
      {% for item in navigation.primary %}
      <li class="list__item">
        {# permalink: false causes errors so adding an if check for urls set to false https://github.com/11ty/eleventy/issues/1696#issuecomment-802395708 #}
        {% if page.url != false %}
        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}><span>{{ item.text }}</span></a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>