{% if bashoDate %}
  {% set basho = bashoDate %}
{% endif %}
<ol>
{% for basho in basho.basho %}
<li><a href="#{{ basho.month | slug }}">{{ basho.month }}</a></li>
{% endfor %}
</ol>
{% for basho in basho.basho %}
<h2 id="{{ basho.month | slug }}">{{ basho.month }} Tournament</h2>
<ul>
    <li>📍 {{ basho.city }}</li>
    <li>🏟️ <a href="https://www.google.com/maps/@35.6970848,139.7937749,2a,75y,239.39h,73.01t/data=!3m7!1e1!3m5!1s9IzZ-Cm13q7ovNCEL-auSQ!2e0!3e2!7i13312!8i6656?entry=ttu">{{ basho.venue }}</a></li>
    <li>📆 {{ basho.startDate | dateFilter }} » {{ basho.endDate | dateFilter }}</li>
</ul>
<ul class="grid grid--5 bingo-card reset-list">
{% for rikishi in basho.rikishi %}
<li class="rikishi rikishi--{{ rikishi.bingo }}">
<h2 class="reset-heading rikishi__name">{{ rikishi.name }}</h2>
<div class="text-centered">
    <img src="/assets/images/making/sumo-bingo-cards/rikishi/{{ rikishi.name | slug }}.jpg" alt="">
</div>
<!-- Score -->
<p class="text-centered reset-vertical-space" style="font-size: 1rem;font-weight: bold;">{% for total in rikishi.total %}{% if total.win %}{{total.win}}{% endif %}{% if total.lose %} / {{total.lose}}{% endif %}{% if total.forfeit %} / {{total.forfeit}}{% endif %}{% endfor %}
</p>
<!-- Results daily -->
<ol class="grid grid--15 reset-list results results--daily">
{% for result in rikishi.results %}
<li class="result result--{% if result == 'l' %}lose{% endif %}{% if result == 'w' %}win{% endif %}{% if result == 'f' %}forfeit{% endif %}">
<div class="off-screen">{% if result == "l" %}Lose{% endif %}{% if result == "w" %}Win{% endif %}{% if result == "f" %}Forfeit{% endif %}</div>
</li>
{% endfor %}
</ol>
<!-- Results sorted -->
<ol class="grid grid--5 reset-list results results--sorted">
{% for result in rikishi.results %}
<li class="result result--{% if result == 'l' %}lose{% endif %}{% if result == 'w' %}win{% endif %}{% if result == 'f' %}forfeit{% endif %}">
<div class="off-screen">{% if result == "l" %}Lose{% endif %}{% if result == "w" %}Win{% endif %}{% if result == "f" %}Forfeit{% endif %}</div>
</li>
{% endfor %}
</ol>
</li>
{% endfor %}
</ul>
{% endfor %}