{% set basho = basho202401 %}

{% if bashoDate %}
  {% set basho = bashoDate %}
{% endif %}
<ul class="grid grid--5 bingo-card reset-list">
{% for rikishi in basho.rikishi %}
<li class="rikishi rikishi--kachi-koshi rikishi--make-koshi">
<h2 class="reset-heading rikishi__name">{{ rikishi.name }}</h2>
<!-- <img src="/assets/images/rikishi/{{ rikishi.name | slug }}.jpg" alt="Rikishi image"> -->
<ol class="grid grid--5 reset-list results">
{% for result in rikishi.results %}
<li class="result result--{% if result == 0 %}lose{% endif %}{% if result == 1 %}win{% endif %}{% if result == 2 %}forfeit{% endif %}">
    <div class="off-screen">{% if result == 0 %}Lose{% endif %}{% if result == 1 %}Win{% endif %}{% if result == 2 %}Forfeit{% endif %}</div>
</li>
{% endfor %}
</ol>
</li>
{% endfor %}
</ul>