<h2>Currently watching</h2>

<ul class="reset-list grid grid--5">
{% for watch in watchlist.watching %}
<li>
    <img src="/assets/images/watching/{{ watch.artwork }}" alt="artworkDescription">
    <p style="margin-top: 0;">{{ watch.titleEnglish }}</p>
</li>
{% endfor %}
</ul>

<h2>Watched</h2>

<ul class="reset-list list list--divided">
{% for watch in watchlist.watched %}
<li id="{{ watch.titleEnglish | slug }}" class="list-group-item">
{% if watch.titleNative %}
<h1>{{ watch.originFlag }} {{ watch.titleNative }}</h1>
<p>{% if watch.titleLiterally %}{{ watch.titleLiterally }}, {% endif %}aka <strong>{{ watch.titleEnglish }}</strong></p>
{% else %}
<h1>{{ watch.titleEnglish }}</h1>
{% endif %}
<div class="artwork-frame" style="position: relative;">
<img src="/assets/images/watching/{{ watch.artwork }}" alt="artworkDescription" style="max-width: 330px;">
<p class="artwork-frame__label" style="position: absolute;bottom: 0;left: 0;padding: 0.25rem; background-color: white;">{% if watch.location == "Cinema" %}🎦{% endif %}{% if watch.location == "Sofa" %}📺{% endif %}{% if watch.location == "Theatre" %}🎭{% endif %} {{ watch.location }}</p>
</div>
<p style="font-size: 1.5rem;">{{ watch.summary }}</p>
{% if watch.warning %}
<p class="alert alert--warning"><strong class="alert__type">Trigger warning</strong><br/>Themes may be triggering for some people; {{ watch.warning }}.</p>
{% endif %}
<ul class="reset-list" style="font-size: .9rem;">
<li>Type: {{ watch.type }}</li>
<li>Watched: {{ watch.date }}</li>
<li>Rating: {% if watch.rating == '0' %}&star;&star;&star;&star;&star;{% elseif watch.rating == '1' %}&starf;&star;&star;&star;&star;{% elseif watch.rating == '2' %}&starf;&starf;&star;&star;&star;{% elseif watch.rating == '3' %}&starf;&starf;&starf;&star;&star;{% elseif watch.rating == '4' %}&starf;&starf;&starf;&starf;&star;{% elseif watch.rating == '5' %}&starf;&starf;&starf;&starf;&starf;{% endif %}</li>
<li>Origin: {{ watch.originFlag }} {{ watch.originCountry }}</li>
</ul>
</li>
{% endfor %}
</ul>
